<!DOCTYPE html>
<html lang="en">
  <head id="dynamic-head">
    <script src="../js/lists.js" type="module"></script>
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <header id="dynamic-header"></header>
    <main class="list-main">
      <h1>Your Saved Recipes</h1>
      <h2>Lists</h2>
      <div>
        <p>All recipes added will initially go to "Just Added Recipes"</p>
        <p>Move your recipes to your desired lists to stay organized.</p>
      </div>
      <div id="custom-confirm" class="dialog">
        <p>
          "Would you like to delete your list and all recipes contained?
        </p>
        <div class="dialog-buttons">
          <button id="confirm-yes">Yes</button>
          <button id="confirm-no">No</button>
        </div>
      </div>
      <label for="add-list-name">Create New List: </label>
      <input type="text" id="add-list-name" />
      <ul id="lists-nav"></ul>
      <div class="lists-titles"></div>
      <div class="lists-list"></div>
    </main>
    <footer id="dynamic-footer"></footer>
  </body>
</html>
