@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Nunito:wght@700&family=Permanent+Marker&display=swap');:root {
    --font-body: "Nunito";
    --font-header: 'Lora';
    --font-marker: "Permanent Marker";
    --primary-color: #f36a71;
    --second-color:#1a6c85;
    --accent-color:#1c1f28;
}
* {
    box-sizing: border-box;
  }

main {
    background-color: white;
}
.recipe-details_add{
    position:relative;
    top: 50%;
    left: 45%;
    padding: 5%;
}
button{
    text-align: center;
    justify-content: center;
    color: black;
    background-color: var(--second-color);
    font-weight: bolder;
    cursor: pointer;
    border: 3mm Solid var(--second-color);
    font-size: 18px;
    display: block;
}
button:hover{
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 3mm solid var(--primary-color)
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
.logo {
    display: flex;
    justify-content: left;
    padding:10px;
}
.logo img{
    max-width: fit-content;

}
.profile {
    display: block;
    justify-content: right;
    padding-top: 60px;
    padding-right: 50px;
    
}
.profile a{
    display:block;
    justify-content: right;
}
#dynamic-header{
    background-color: var(--primary-color);
}

/* Home Page */
.mission {
    text-align: center;
}
.mission h1{
    font-family: var(--font-marker);
    font-size: 50px;
}
.mission p{
    font-family: var(--font-body);
}
.category-types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 15px;
    text-align: center;
  }
  
  .category-type {
    width: 15vw;
    max-width: 150px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
  }
  .category-types{
    text-align: center;
    color:black;
    
}
.category-types b{
    color: black;
    padding: 150px;
}
  .category-type img {
    margin: 0 auto;
    padding:20px;
    width: 300px;
  }
  
  .category-type b {
    font-size: .75em;
  }
/*Recipe List*/
#category-header{
    text-align: center;
    font-size: 35px;
    font-family: var(--font-header);
}
.recipes {
    padding: 0.5em;
    text-align: center;
  }
  .recipe-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  .recipe-list a {
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .recipe-card {
    flex: 1 1 45%;
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--second-color);
    max-width: 250px;
  }
  .recipe-card img{
    width: 50%;
  }
  .recipe-card h2,
  .recipe-card p {
    margin: 0.5em 0;
  }
  .recipes h2{
    font-family: var(--font-marker);
    font-size: 30px;
  }
.recipe_name{
    color:#f36a71;
    font-family: var(--font-marker);
    font-size: 28px;
}
.recipe_time, .recipe_cookTemp{
    font-family: var(--font-body);
    color: black;
    font-weight: bold;
    font-size: 16px;
    
}

/*Recipe Details Page*/
.recipe-head{
    justify-content: center;
    text-align: center;
}
.recipe-head img{
    width: 50%;
    height: 50%;
}
.recipe-head p{
    font-size: 22px;
}
.time-temp{
    display: flex;
    padding: 0;
    justify-content:space-evenly

}
.ing-dir{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}
.ing-dir ol, .ing-dir ul{
    font-family: var(--font-marker);
    font-size:25px
}
.ing-dir li{
    margin: 1%;
    font-family: var(--font-body);
    font-size: 18px;
}
/*user view*/
.user_head{
    display:flex;
    padding: 2%;
    padding-left: 100px;
}
.user_head img {
    justify-content: left;
}
.user_head p{
    justify-content: center;
    padding-top: 80px;
    padding-left: 30px;
    font-size: 25px;
}
/* Footer */
#dynamic-footer{
    background-color: var(--primary-color);
}

/*Mobile Screen*/
@media screen and (max-width: 550px){
    main{
        display: block;
    }
    .user_head, .ing-dir, .category-types{
        display: block;
    }
   
}