@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Nunito:wght@700&family=Permanent+Marker&display=swap');:root {
    --font-body: "Nunito";
    --font-header: 'Lora';
    --font-marker: "Permanent Marker";
    --primary-color: #f36a71;
    --second-color:#1a6c85;
    --accent-color:#1c1f28;
}
* {
    box-sizing: border-box;
  }
main {
    background-color: white;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
.logo {
    display: flex;
    justify-content: left;
    width: 400px;
}
.profile {
    display: flex;
    justify-content: right;
    
}
.profile a{
    display:flex;
    justify-content: right;
}
#dynamic-header{
    background-color: var(--primary-color);
}

/* Home Page */
.mission {
    text-align: center;
}
.mission h1{
    font-family: var(--font-marker);
    font-size: 50px;
}
.mission p{
    font-family: var(--font-body);
}
.category-types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 15px;
    text-align: center;
  }
  
  .category-type {
    width: 15vw;
    max-width: 150px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
  }
  
  .category-type img {
    margin: 0 auto;
    padding:20px;
    width: 300px;
  }
  
  .category-type b {
    font-size: .75em;
  }
  

/* Footer */
#dynamic-footer{
    background-color: var(--primary-color);
}

/*Computer Screen*/
@media screen and (min-width: 500px){
    .category-types{
        text-align: center;
        color:black;
        
    }
    .category-types b{
        color: black;
        padding: 150px;
    }
}